.editor {
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: var(--editor-text, #000);
  border: none;
  resize: none;
  outline: none;
  font-family: var(--monospace-font);
  font-size: 14px;
  line-height: 1.6;
  background-color: var(--editor-bg, #fff);
  box-sizing: border-box;

  /* border-right: var(--blockquote-text) 1px solid; */
}
