/* src/components/Toolbar/Toolbar.module.css */
.toolbar {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--toolbar-bg, #f3f3f3);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.6rem;
  color: var(--text-color, #333);
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--sidebar-bg, white);

  &:hover {
    background-color: var(--toolbar-bg, #eee);
  }

  & svg {
    width: 1rem;
    height: 1rem;
  }
}
