.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background-color, #f6f6f6);
}

.editorPreview {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
}

.editorPanel {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.previewPanel {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.resizer {
  width: 5px;
  background: var(--editor-border, #ddd);
  cursor: col-resize;
  position: relative;
  z-index: 10;
}
