.controls {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  color: var(--text-color);
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: var(--background-color);
}

.close:hover {
  background-color: #e81123;
  color: #fff;
}
